<button mat-button (click)="goBack()"><i class="material-icons">arrow_back_ios</i></button>

<body style="padding: 20px;">
  <h3>Studente</h3>
  <div class="box-0">
    <div class="box">
      <form [formGroup]="modificaStudente" (ngSubmit)="onSubmitStudente(modificaStudente.value);this.router.navigate(['/studenti'])">
        <div>
          <label for="nome">
            Nome
          </label>
          <mat-form-field class="input">
            <input matInput id="nome" type="text" formControlName="nome">
            <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
              <span *ngIf="nome.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="cognome">
            Cognome
          </label>
          <mat-form-field class="input">
            <input matInput id="cognome" type="text" formControlName="cognome">
            <mat-error *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)">
              <span *ngIf="cognome.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="dataNascita">
            Data di Nascita
          </label>
          <mat-form-field class="input">
            <input matInput id="dataNascita" type="text" formControlName="dataNascita">
          </mat-form-field>
        </div>
        <div>
          <label for="codiceFisc">
            Codice Fiscale
          </label>
          <mat-form-field class="input">
            <input matInput id="codiceFisc" type="text" formControlName="codiceFisc">
            <mat-error *ngIf="codiceFisc.invalid && (codiceFisc.dirty || codiceFisc.touched)">
              <span *ngIf="codiceFisc.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="percorsoStudi">
            Percorso di Studi
          </label>
          <mat-form-field class="input">
            <input matInput id="percorsoStudi" type="text" formControlName="percorsoStudi">
          </mat-form-field>
        </div>
        <div>
          <label for="telefono">
            Telefono
          </label>
          <mat-form-field class="input">
            <input matInput id="telefono" type="text" formControlName="telefono">
          </mat-form-field>
        </div>
        <div>
          <label for="citta">
            Città di residenza
          </label>
          <mat-form-field class="input">
            <input matInput id="citta" type="text" formControlName="citta">
          </mat-form-field>
        </div>
        <button mat-flat-button type="submit">Aggiorna Studente</button>
      </form>
      <p>Ore Assenza</p>
      <mat-list>
        <mat-list-item *ngFor="let item of materie | keyvalue">
          {{item.key}} : {{item.value}}
        </mat-list-item>
      </mat-list>
      <p>Ore Assenza Totali : {{oreTotali}}</p>
      <p>Note:</p>
      <div>
        <ul>
          <li *ngFor="let n of studente.note">
            {{n}} <button mat-button (click)="eliminaNota(studente.note.indexOf(n))"
              class="eliminanota">Elimina</button>
          </li>
        </ul>
      </div>
    </div>
    <form [formGroup]="nuovaNota" (ngSubmit)="onSubmitNote(nuovaNota.value); onSubmitStudente(modificaStudente.value)">
      <div>
        <div class="box-2">
          <label for="nota"> Nota:</label>
          <mat-form-field>
            <input matInput id="nota" type="text" formControlName="nota">
          </mat-form-field>
        </div>
        <button mat-flat-button type="submit" class="salvanota">Salva nota</button>
      </div>
    </form>
  </div>
</body>