<button mat-button (click)="goBack()" class="back"><i class="material-icons">arrow_back_ios</i></button>
<body style="padding: 20px;">
  <h3>Studente</h3>
  <form [formGroup]="modificaStudente"
    (ngSubmit)="onSubmitStudente(modificaStudente.value);this.router.navigate(['/studenti'])">
    <div class="box-0">
      <div class="box">
        <div class="box-3">
          <label for="nome">
            Nome:
          </label>
          <mat-form-field class="input">
            <input matInput id="nome" type="text" formControlName="nome" required>
            <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
              <span *ngIf="nome.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="cognome">
            Cognome:
          </label>
          <mat-form-field class="input">
            <input matInput id="cognome" type="text" formControlName="cognome" required>
            <mat-error *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)">
              <span *ngIf="cognome.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="sesso">
            Sesso
          </label>
          <mat-form-field class="input">
            <mat-select matInput id="sesso" type="select" formControlName="sesso">
              <mat-option value="M">M</mat-option>
              <mat-option value="F">F</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label for="dataNascita">
            Data di Nascita:
          </label>
          <mat-form-field class="input">
            <input matInput id="dataNascita" type="text" formControlName="dataNascita">
          </mat-form-field>
        </div>
        <div>
          <label for="codiceFisc">
            Codice Fiscale:
          </label>
          <mat-form-field class="input">
            <input matInput id="codiceFisc" type="text" formControlName="codiceFisc">
            <mat-error *ngIf="codiceFisc.invalid && (codiceFisc.dirty || codiceFisc.touched)" required>
              <span *ngIf="codiceFisc.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="percorsoStudi">
            Percorso di Studi:
          </label>
          <mat-form-field class="input">
            <input matInput id="percorsoStudi" type="text" formControlName="percorsoStudi">
          </mat-form-field>
        </div>
        <div>
          <label for="telefono">
            Telefono:
          </label>
          <mat-form-field class="input">
            <input matInput id="telefono" type="text" formControlName="telefono">
          </mat-form-field>
        </div>
        <div>
          <label for="citta">
            Città di residenza:
          </label>
          <mat-form-field class="input">
            <input matInput id="citta" type="text" formControlName="citta">
          </mat-form-field>
        </div>
        <p>Note:</p>
        <div>
          <table class="table-ore">
            <tr *ngFor="let n of studente.note">
              <td style="width: 70%;">{{n}}</td>
              <td><button mat-button (click)="eliminaNota(studente.note.indexOf(n))" class="eliminanota"><i
                    class="material-icons">
                    delete
                  </i></button></td>
            </tr>
          </table>
        </div>
      </div>
      <button mat-flat-button type="submit" class="salvanota" [disabled]="!modificaStudente.valid"><i class="material-icons">save</i></button>
    </div>
  </form>
  <form [formGroup]="nuovaNota" (ngSubmit)="onSubmitNote(nuovaNota.value); onSubmitStudente(modificaStudente.value)">
    <div>
      <div class="box-2">
        <label for="nota"> Nota:</label>
        <mat-form-field>
          <input matInput id="nota" type="text" formControlName="nota" required>
          <mat-error *ngIf="nota.invalid && (nota.dirty || nota.touched)">
              <span *ngIf="nota.errors.required">Campo obbligatorio</span>
          </mat-error>
      </mat-form-field>
      </div>
      <button mat-flat-button type="submit" class="salvanota" [disabled]="!nuovaNota.valid"><i class="material-icons">note_add</i></button>
    </div>
  </form>
  <div class="box-2">
    <table class="table-ore">
      <th> Materia</th>
      <th>Ore Assenza</th>
      <tr *ngFor="let item of materie | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
      </tr>
    </table>
    <p class="ore">Ore Assenza Totali: {{oreTotali}}</p>
    <p class="ore">Numero entrate in ritardo: {{ritardiTotali}}</p>
  </div>
</body>