.table-ore {
  display: table;
  border-collapse: separate;
  border-spacing: 30px;
  color: #666666;
  margin-left: 8.5%;
  width: 100%;
}
h3 {
  color: #6e18ce;
}
body {
  background-color: transparent;
}
.box-3{
  margin-top: 3%;
  font-family: "Nunito", "sans-serfif";
}
.box {
  border: solid #4287f8;
  border-radius: 12px;
  height: auto;
  width: 60%;
  margin-left: 20%;
  display: inline-block;
  font-family: "Nunito", "sans-serfif";
}
.nota {
  color: #6e18ce;
  margin-left: 500px;
  margin-top: 15px;
}
mat-list-item {
  font-family: "Nunito", "sans-serfif";
  color: #666666 !important;
  margin-left: 8%;
  margin-top: 2%;
}
p {
  color: #4287f8;
  font-size: 16px;
  margin-left: 11%;
  margin-top: 5%;
}
li {
  font-family: "Nunito", "sans-serfif";
  color: #666666 !important;
  margin-top: -3%;
  margin-left: 7%;
}
mat-form-field {
  width: 60%;
  color: #666666 !important;
}
label {
  margin-left: 6%;
  margin-right: 2%;
  color: #6e18ce;
  width: 20%;
  display: inline-block;
}
.box-2 {
  border: solid #4287f8;
  border-radius: 12px;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  font-family: "Nunito", "sans-serfif";
}
.salvanota {
  margin-top: 1%;
  margin-right: 20%;
  border: 1.5px solid #4287f8;
  border-radius: 6px;
  box-shadow: none;
  background-color: white;
  position: relative;
  float: right;
  color: #6e18ce;
  font-family: "Nunito", "sans-serfif";
}
.eliminanota {
  background-color: white;
  /* border: 1.5px solid #4287F8;
  border-radius: 6px; */
  color: red;
  font-family: "Nunito", "sans-serfif";
  margin-top: 5%;
}
#salva {
  margin-top: 1%;
  margin-right: 20%;
  border: 1.5px solid #4287f8;
  border-radius: 6px;
  box-shadow: none;
  background-color: white;
  position: relative;
  float: right;
  color: #6e18ce;
  font-family: "Nunito", "sans-serfif";
}
.ore {
  margin-top: 3% !important;
}
form {
  margin-top: 3%;
}
th{
  color: #6e18ce;
}
.back{
  color: #4287f8;
}
button:focus{
  outline: none;
  }
#input{
  font-family: "Nunito", "sans-serfif";
}
mat-option {
  font-family: "Nunito", "sans-serfif";
  color: #6e18ce;
}
#nota{
  font-family: "Nunito", "sans-serfif";
}