.input{
    margin-left: 40px;
}

.nuovo{
    margin-top: 40px;
}

h3 {
    color: #6E18CE;
  }
  body {
     background-color: transparent;
     padding: 15px;
  }
  .box {
     border: solid #4287F8;
     border-radius: 12px;
     height: auto;
     width: 70%;
     margin-left: 15%;
     display: inline-block;
     margin-top: 2%;
    }
   mat-list-item {
      font-family: "Nunito", "sans-serfif";
      color: #666666 !important;
      margin-left: 8%;
      margin-top: 2%;
  }
  p{
    color: #4287F8;
    font-size: 16px;
    margin-left: 11%;
    margin-top: 5%;
    margin-bottom: -2%;
  } 
 
  mat-form-field {
   width: 50%;
   color: #6E18CE !important;
  }
  label {
    margin-left: 10%;
    margin-right: 2%;
    display: inline-block;
    width: 20%;
    color: #4287F8;
  }

  .nuovo {
    margin-top: 1%;
    margin-right: 15%;
    border: 1.5px solid #4287F8;
    border-radius: 6px;
    box-shadow: none;
    background-color: white;
    position: relative;
    float: right;
    color: #6E18CE;
    font-family: "Nunito", "sans-serfif";
  }
