<body>
<h3>Crea un nuovo studente</h3>
<form [formGroup]="nuovoStudente" (ngSubmit)="onSubmit(nuovoStudente.value)">
  <div class="box">
  <div>
    <label for="nome">
      Nome
    </label>
    <mat-form-field class="input">
      <input matInput id="nome" type="text" formControlName="nome">
      <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <span *ngIf="nome.errors.required">Campo obbligatorio</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <label for="cognome">
      Cognome
    </label>
    <mat-form-field class="input">
      <input matInput id="cognome" type="text" formControlName="cognome">
      <mat-error *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)">
        <span *ngIf="cognome.errors.required">Campo obbligatorio</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <label for="dataNascita">
      Data di Nascita
    </label>
    <mat-form-field class="input">
      <input matInput [matDatepicker]="dp" formControlName="dataNascita">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <label for="codiceFisc">
      Codice Fiscale
    </label>
    <mat-form-field class="input">
      <input matInput id="codiceFisc" type="text" formControlName="codiceFisc">
      <mat-error *ngIf="codiceFisc.invalid && (codiceFisc.dirty || codiceFisc.touched)">
        <span *ngIf="codiceFisc.errors.required">Campo obbligatorio</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <label for="percorsoStudi">
      Percorso di Studi
    </label>
    <mat-form-field class="input">
      <input matInput id="percorsoStudi" type="text" formControlName="percorsoStudi">
    </mat-form-field>
  </div>
  <div>
    <label for="telefono">
      Telefono
    </label>
    <mat-form-field class="input">
      <input matInput id="telefono" type="text" formControlName="telefono">
    </mat-form-field>
  </div>
  <div>
    <label for="citta">
      Città di residenza
    </label>
    <mat-form-field class="input">
      <input matInput id="citta" type="text" formControlName="citta">
    </mat-form-field>
  </div>
</div>
  <button mat-flat-button type="submit" class="nuovo" (click)="closeOpenDialog()">Salva nuovo studente</button>
</form>
</body>