<div style="margin-top: 8%;">
  <h3 style="text-align: center;">Password Reset</h3>
  <div style="margin-top: 4%;">
    <form [formGroup]="passwordReset" (ngSubmit)="onSubmit(passwordReset.value)">
      <div class="box">
        <div>
          <label for="email">
            email:
          </label>
          <mat-form-field class="input">
            <input matInput id="email" type="text" formControlName="email">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <span *ngIf="email.errors.required">Campo obbligatorio</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-flat-button type="submit" class="nuovo" [disabled]="!passwordReset.valid" (click)="emailSended()"><i class="material-icons">
          send
        </i></button>
    </form>
  </div>
</div>