body {
    background-image: url(src/assets/img/pattern.png);
    background-size: cover;
    background-position: center;
    display: flex;
}
img {
    max-width: 25%;
    max-height: 25%;
    margin-top: 5%;
    justify-content: center;
    margin-left: 37%;
    margin-right: 50%;
    max-width: 100%;
    max-height: auto;
}
.element {
    display: flex;
    flex-direction: column;
    padding-left: 18%;
    padding-right: 18%;
}
mat-card{
    background-color: transparent;
    border: transparent;
    box-shadow: none !important;
}
.card {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin: 5%;
    color: #666666;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    top: 30%;
    left: 22%;
    bottom: 1%;
}
.container{
   display: flex;
   align-items: column;
   background-color: white;
   border-color: #4287F8;
   border-radius: 23px;
   border: 1.5px solid;
   border-color:  #4287F8;
   position: absolute;   
   top: 20%;
   bottom: 20%;
   left: 35%;
   max-width: 30%;
}
.example-full-width{
    border: #4287F8;
}
.mat-raised-button{
    width: 250% !important;
    border-radius: 20px;
    font-family: "Nunito", "sans-serfif";
    margin-left: -73% !important;
    margin-top: 15% !important;
}
.border{
    border-radius: 20px !important;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    margin-top: 10%;
    border: 1.5px solid #4287F8 !important;
    width: 140%;
    margin-left: -21% !important;
    font-family: "Nunito", "sans-serfif";
    text-align: center;
}
#name{
    margin-top: -10%;
}
a{
    font-size: 12px;
    color: #4287F8 !important;
    cursor: pointer;
}
a:hover{
    text-decoration: underline !important;
}
button:focus{
    outline: none;
  }