<body>
  <div class="container">
    <img src="assets/img/logo.png">
    <div class="element">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" id="login-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field id="name" class="border">
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required
                      id="login-name">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="border">
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                      required id="login-password">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="button">
            <button mat-raised-button (click)="login()" color="primary">Login</button>
          </div>
        </mat-card-actions>
        <a (click)="passwordReset()">hai dimenticato la password?</a>
      </mat-card>
    </div>
  </div>
</body>