body {
    background-image: url(src/assets/img/pattern.png);
    background-size: cover;
    background-position: center;
}
img {
    max-width: 25%;
    max-height: 25%;
    margin-top: 5%;
    justify-content: center;
    margin-left: 35%;
    margin-right: 50%;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 2%;
}

.element {
    display: flex;
    flex-direction: column;
    padding-left: 18%;
    padding-right: 18%;
}

mat-card{
    background-color: transparent;
    border: transparent;
    box-shadow: none !important;
}

.card {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin: 5%;
    color: #666666;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    top: 30%;
    left: 22%;
    bottom: 1%;
}

.container{
   justify-content: center;
   align-items: center;
   background-color: white;
   border-color: #4287F8;
   border-radius: 23px;
   border: 1.5px solid;
   border-color:  #4287F8;
   position: absolute;   
   top: 20%;
   bottom: 20%;
   left: 35%;
   max-width: 30%;
}

/* button{
    display: flex;
    align-content: center;
    position: absolute;
    width: 100%;
} */