h3 {
  margin: 0 0 20px;
  text-align: center;
}

pre {
  background-color: transparent;
  padding: 15px;
}

.btn-btn-primary, .btn-outline-secondary{
  color: #6d23ce;
}


mat-chip{
  background-color: white !important;
  color: white;
  border-color: #4287F8 !important;
}

.btn-btn-primary:hover{
  color: #4287F8;
}

.btn-outline-secondary:hover{
    color: red;
}

.totale{
    padding: 20px;
}

button{
  margin-left: 10px;
}

table{
  border-color: #4287F8 !important;
  text-align: center;
  border-radius: 10px !important;
  font-family: 'Nunito', 'sans-serif';
}

.cal-month-view, .cal-open-day-events{
  background-color: tomato !important;
}