<button mat-button (click)="goBack()" class="back"><i class="material-icons">arrow_back_ios</i></button>

<body style="padding: 50px;">
    <h3>Lezione</h3>
    <div class="box-0">
        <div class="box">
            <mat-list>
                <mat-list-item>
                    <span>
                        <label>Materia: </label>{{evento.title}}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span>
                        <label>Professore: </label>{{evento.prof}}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span>
                        <label>Inizio: </label>{{evento.start.toString().slice(0, 21)}}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span>
                        <label>Fine: </label>{{evento.end.toString().slice(0, 21)}}
                    </span>
                </mat-list-item>
            </mat-list>
            <p class="note">Note: </p>
            <table class="table-ore">
                <tr *ngFor="let nota of evento.note">
                    <td style="width: 70%;">{{nota}}</td>
                    <td><button mat-button (click)="removeNota(evento.note.indexOf(nota))" class="eliminanota"><i
                                class="material-icons">
                                delete
                            </i></button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="box-2">
        <form [formGroup]="nuovaNota" (ngSubmit)="onSubmit(nuovaNota.value)">
            <div>
                <label for="nota">
                    Aggiungi nota:
                </label>
                <mat-form-field>
                    <input matInput id="nota" type="text" formControlName="nota">
                    <mat-error *ngIf="nota.invalid && (nota.dirty || nota.touched)">
                        <span *ngIf="nota.errors.required">Campo obbligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button type="submit" class="salvanota" [disabled]="!nuovaNota.valid"><i
                    class="material-icons">note_add</i></button>
        </form>
    </div>
    <h4>Presenze</h4>
    <div class="box-3">
        <table>
            <tr>
                <th>Codice Fiscale</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>APR</th>

            </tr>
            <tr *ngFor="let std of listaStudenti">
                <td>{{std.codiceFisc}}</td>
                <td>{{std.nome}}</td>
                <td>{{std.cognome}}</td>
                <td>
                    <mat-form-field *ngIf="control; else secondMatFormField">
                        <mat-select placeholder="{{std.storicoAPR[evento.id].presenza}}">
                            <mat-option *ngFor="let str of valueString" [value]="str" (click)="selezioneAPR(std, str)">
                                {{str}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-template #secondMatFormField>
                        <mat-form-field>
                            <mat-select placeholder="{{valueString[0]}}">
                                <mat-option *ngFor="let str of valueString" [value]="str"
                                    (click)="selezioneAPR(std, str)">
                                    {{str}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-template>
                </td>
                <th *ngIf="controlloRitardo(std)">Ora entrata</th>
                <td *ngIf="controlloRitardo(std)">
                    <input class="form-control" type="text" mwlFlatpickr
                        [(ngModel)]="std.storicoAPR[evento.id].oraEntrata"
                        (ngModelChange)="calcolaOreRitardo(std); dateController(std)" [altInput]="true"
                        [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                        placeholder="Not set" />
                </td>
            </tr>
        </table>
        <button mat-flat-button (click)="salvaSuDB()" class="salvaPresenze"><i class="material-icons">save</i></button>
    </div>
</body>