.side-nav{
    margin: 30px;
}
img{
    width:10%;
    margin-top: -1%;
}
.title{
    display: flex;
    align-content: center;
    background-color: transparent;
}
mat-sidenav-content, mat-sidenav-container, mat-sidenav {
    background-color: transparent;
}
.side-nav {
    font-family: 'Nunito', sans-serif !important;
    color:  #6E18CE;
    margin-bottom: 10%;
}
#studenti{
    margin-top: 35%;
}
body {
    background-image: url(src/assets/img/logo2.png),
                      url(src/assets/img/logodu.png);
    background-position:  bottom -52px left -220px,
                          bottom -5px right -120px;
    background-repeat: no-repeat;
    background-size: 600px, 300px;
    max-width: auto;
    max-height: auto;
    overflow-y: scroll;
}
mat-icon {
    color: #4287F8;
}
.mat-drawer-side{
    border-right: solid 1px #4287F8;
    height: auto;
}
.menù {
    display: flex;
}
.mat-button-focus-overlay{
transition: none !important;
}
.mat-drawer-side{
    width: 13%;
}
.imgnav{
    width: 38%;
    margin-left: 25%;
}
button:focus{
outline: none;
}
button:active{
    background-color: none !important;
}