<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<!-- <div class="example-container" style="padding: 20px">
  <h1 routerLink="home">{{title}}</h1>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-nav-list>
        <a routerLink="studenti">Studenti</a>
        <br>
        <a routerLink="professori">Professori</a>
        <br>
        <a routerLink="calendario">Calendario</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        Menu
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<router-outlet></router-outlet>