<body>
  <h3>Crea un nuovo professore</h3>
  <form [formGroup]="nuovoProfessore" (ngSubmit)="onSubmit(nuovoProfessore.value)">
    <div class="box">
    <div>
      <label for="nome">
        Nome
      </label>
      <mat-form-field class="input">
        <input matInput id="nome" type="text" formControlName="nome">
        <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
          <span *ngIf="nome.errors.required">Campo obbligatorio</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <label for="cognome">
        Cognome
      </label>
      <mat-form-field class="input">
        <input matInput id="cognome" type="text" formControlName="cognome">
        <mat-error *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)">
          <span *ngIf="cognome.errors.required">Campo obbligatorio</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <label for="codiceFisc">
        Codice Fiscale
      </label>
      <mat-form-field class="input">
        <input matInput id="codiceFisc" type="text" formControlName="codiceFisc">
        <mat-error *ngIf="codiceFisc.invalid && (codiceFisc.dirty || codiceFisc.touched)">
          <span *ngIf="codiceFisc.errors.required">Campo obbligatorio</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <label for="sesso">
        Sesso
      </label>
      <mat-form-field class="input">
        <input matInput id="sesso" type="text" formControlName="sesso">
      </mat-form-field>
    </div>
    <div>
      <label for="materia">
        Materia
      </label>
      <mat-form-field class="input">
        <mat-select formControlName="materia" placeholder="scegli materia..">
          <mat-option *ngFor="let materia of listaMaterie" [value]="materia">
            {{materia.titolo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label for="telefono">
        Telefono
      </label>
      <mat-form-field class="input">
        <input matInput id="telefono" type="text" formControlName="telefono">
      </mat-form-field>
    </div>
  </div>
    <button mat-flat-button type="submit" class="nuovo" (click)="closeOpenDialog()"><i class="material-icons">save</i></button>
  </form>
</body>