<body style="padding: 20px;">
  <h3>Materie</h3>
  <br>
  <form [formGroup]="nuovaMateria" (ngSubmit)="onSubmit(nuovaMateria.value)">
    <div class="box">
      <div>
        <label for="titolo"> Materia: </label>
        <mat-form-field class="barra">
          <input matInput id="titolo" type="text" formControlName="titolo">
        </mat-form-field>
      </div>
      <div>
        <label for="colore">Colore: </label>
        <input type="color" id="colore" formControlName="colore"/>
      </div>
    </div>
    <button mat-flat-button type="submit" class="salvamateria"><i class="material-icons">save</i></button>
  </form>
<div class=box-2>
    <table class="table-materie">
      <thead>
        <th>Materia</th>
        <th>Colore</th>
        <th>Dettaglio</th>
        <th>Elimina</th>
      </thead>
      <tbody>
        <tr *ngFor="let materia of listaMaterie">
          <td>{{materia.titolo}}</td>
          <td><mat-icon class="pallina" [ngStyle]="{'color':materia.colore}">extension</mat-icon></td>
          <td><button mat-flat-button routerLink="{{materia.titolo}}" class="modifiche"><i class="material-icons">
            visibility
            </i></button></td>
          <td><button mat-flat-button (click)="openDialogRemove(materia)" class="elimina"><i class="material-icons">
            delete
            </i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
