<body style="padding: 50px;">
  <h2>Materie</h2>
  <div>
    <form [formGroup]="nuovaMateria" (ngSubmit)="onSubmit(nuovaMateria.value)">
      <div>
        <label for="titolo">
          Nome Materia
        </label>
        <mat-form-field>
          <input matInput id="titolo" type="text" formControlName="titolo">
        </mat-form-field>
      </div>
      <div>
        <label for="colore">
          Colore Materia
        </label>
        <input type="color" id="colore" formControlName="colore" />
      </div>
      <br>
      <button mat-flat-button type="submit">Nuova materia</button>
    </form>
  </div>
  <br><br><br>
  <div>
    <p>MATERIE SALVATE</p>
    <table class="table-materie">
      <thead>
      <th>Materia</th>
      <th>Colore</th>
      <th>Dettaglio</th>
      <th>Elimina</th>
    </thead>
    <tbody>
      <tr *ngFor="let materia of listaMaterie">
      <td>{{materia.titolo}}</td>
      <td>{{materia.colore}}</td>
      <td><button mat-flat-button routerLink="{{materia.titolo}}">Dettaglio</button></td>
      <td><button mat-flat-button (click)="deleteMateria(materia)">Elimina</button></td>
    </tr>
    </tbody>
    </table>
  </div>
</body>