h3 {
    color: #6E18CE;
  }
  body {
     background-color: transparent;
  }
  .box {
     border: solid #4287F8;
     border-radius: 12px;
     height: auto;
     width: 40%;
     margin-left: 32%;
     display: inline-block;
    }
   .nota {
    color: #6E18CE;
    margin-left: 500px;
    margin-top: 15px;
    }
   mat-list-item {
      font-family: "Nunito", "sans-serfif";
      color: #666666 !important;
      margin-left: 8%;
      margin-top: 2%;
  }
  p{
    color: #4287F8;
    font-size: 16px;
    margin-left: 11%;
    margin-top: 5%;
    margin-bottom: -2%;
  } 
  li {
    font-family: "Nunito", "sans-serfif";
    color: #666666 !important;
    margin-top: -3%;
    margin-left: 7%;
  }
  mat-form-field {
   width: 70%;
   color: #6E18CE !important;
  }
  label {
    margin-left: 10%;
    margin-right: 2%;
    color: #4287F8;
  }
  .box-2 {
    border: 1.5px solid #4287F8;
    border-radius: 12px;
    width: 40%;
    margin-left: 32%;
    margin-top: 3.5%;
  }
  .salvanota {
    margin-top: 1%;
    margin-right: 28%;
    border: 1.5px solid #4287F8;
    border-radius: 6px;
    box-shadow: none;
    background-color: white;
    position: relative;
    float: right;
    color: #6E18CE;
    font-family: "Nunito", "sans-serfif";
  }
  .modifica {
    margin-right: 19%;
    border: solid #4287F8;
    border-radius: 6px;
    box-shadow: none;
    background-color: white;
    position: relative;
    float: right;
    color: #6E18CE;
    font-family: "Nunito", "sans-serfif";
  }
  .eliminanota {
    background-color: white;
    /* border: 1.5px solid #4287F8;
    border-radius: 6px; */
    color: #6E18CE;
    font-family: "Nunito", "sans-serfif";
    margin-top: 5%;
  }

  .material-icons{
    color: #4287F8;
  }