<button mat-button (click)="goBack()"><i class="material-icons">arrow_back_ios</i></button>
<body style="padding: 20px;">
  <h3 class="titolo">Materia</h3>
  <div class="box">
    <h4>{{materia.titolo | uppercase}}  <mat-icon class="pallina" [ngStyle]="{'color':materia.colore}">extension
    </mat-icon></h4>
   
  </div>

  <div class="box-3">
    <h5>Totale ore occupate: {{totOre}}</h5>
  </div>

<table class="box-2">
  <thead>
  <th>Materia</th>
  <th>Professore</th>
  <th>Inizio</th>
  <th>Fine</th>
  <th>Dettaglio</th>
</thead>
<tbody>
  <tr *ngFor="let evento of eventiMateria">
  <td>{{evento.title}}</td>
  <td>{{evento.prof}}</td>
  <td>{{evento.start.toString().slice(0,21)}}</td>
  <td>{{evento.end.toString().slice(0,21)}}</td>
  <td class="dettaglio" (click)="routerlink(evento)"><button mat-flat-button><i class="material-icons">visibility</i></button></td>
</tr>
</tbody>
</table>
</body>