table{
  margin-top:1%;
  height: auto;
  width: 100%;
  border-color: #4287F8;
  text-align: center;
  border-collapse: unset !important;
  border-radius: 10px !important;
  border-spacing: 20px !important;
  font-family: 'Nunito', sans-serif;
}
.box {
  border: solid #4287F8;
  border-radius: 12px;
  height: auto;
  width: 70%;
  margin-left: 15%;
  display: flex;
background-color: white;
}
p{
  color: #4287F8;
  font-size: 16px;
  margin-left: 11%;
  flex: 1;
  font-size: 18px;
  margin-top: 3.5%;
}
.pallina{
  size: 30%;
}
.colore{
  align-content: center;
  display: flex;
}
h4 {
  color: #6E18CE;
  text-align: center;
  flex:1;
  margin-top: 1.5%;
}
body {
   background-color: transparent;
}
.nota {
  color: #6E18CE;
  margin-left: 60%;
  margin-top: 5%;
}
mat-list-item {
    font-family: "Nunito", "sans-serfif";
    color: #666666 !important;
    margin-left: 8%;
    margin-top: 2%;
}
li {
  font-family: "Nunito", "sans-serfif";
  color: #666666 !important;
  margin-top: -3%;
  margin-left: 7%;
}
thead{
  color: #6E18CE;
}
label {
  margin-left: 10%;
  margin-right: 2%;
  color: #4287F8;
}
.box-2 {
  border: solid #4287F8;
  border-radius: 12px;
  width: 70%;
  margin-left: 15%;
  margin-top: 3.5%;
  background-color: white;
}
.material-icons {
  color: #4287F8;
}
.box-3{
  border:  solid #4287F8;
  border-radius: 12px;
  width: 70%;
  margin-left: 15%;
  margin-top: 3.5%;
  text-align: center;
  background-color: white;
}
h5 {
  color: #6E18CE;
  padding-top: 1%;
} 
.material-icons{
  color: #4287F8;
}
.titolo{
  color: #6E18CE;
}
.dettaglio{
  color: #4287F8;
}
button:focus{
  outline: none;
}
td{
  color: #666666;
}