<body>
<div class="container">
    <img src="assets/img/logo.png">

    <div class="element">

      <button class="box-1" routerLink="/studenti">
        <i class="material-icons">people </i>
        Studenti
      </button>


      <button class="box-1" routerLink="/professori">
        <i class="material-icons">person</i>
        Professori
      </button>

      <button class="box-1">
        <i class="material-icons">school</i>
        Materie         
      </button>

      <button class="box-1" routerLink="/calendario">
        <i class="material-icons">event</i>
        Calendario
      </button>
    </div>
  </div>
</body>